SECRET_KEY=changeme-generate-a-real-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
CELERY_BROKER_URL=redis://localhost:6380/0
DEFAULT_FROM_EMAIL='dasdsa adad dsadas@yes.com'